############################
# Gradle
############################
.gradle/
build/
**/build/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws
out/

############################
# Java
############################
*.class
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Android
############################
.local.properties
captures/
.externalNativeBuild/
.cxx/

############################
# Kotlin
############################
.kotlin/

############################
# Docker
############################
*.env

############################
# Temporary / backup files
############################
*.tmp
*.bak
*.swp

# Temporary Word files
~$*.doc
~$*.docx
